body {
    background-color: #121212;
    color: #ffffff;
}
.module h2, .breadcrumbs, .nav-bar {
    background-color: #1f1f1f;
    color: #ffffff;
}
a {
    color: #4CAF50;
}
.grp-module h2 {
    background-color: #1f1f1f;
}

